.content-block h4 {
    color: #F66D00 !important;
    font-size: 20px !important;
    font-weight: 400 !important;
}

.content-block h2 {
    color: #0096A0 !important;
    font-size: 34px !important;
    font-weight: 500 !important;
}
